button {
  display: inline-block;
}

li {
  color: rgb(33, 33, 33);
  font-weight: 200;
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  padding: 0;
  margin: 0, 5px;
}
li:first-letter {
  text-transform: capitalize;
}

.current:first-letter {
  text-transform: capitalize;
}
.weather {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: rgb(239, 247, 247) 1px solid;
  border-radius: 5%;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}
.weather-temperature {
  margin-top: 20px;
  margin-bottom: -45px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-top: -14px;
  height: 64px;
  width: 64px;
}
.weather-temperature .units {
  font-size: 35px;
  margin-top: 5px;
}
.weather-description {
  margin: 0 75px;
  padding: 0;
}

.temp {
  font-weight: 12px;
  margin: 0 0 -50px 80px;
  padding: 0;
}
.temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  color: rgb(5, 124, 252);
  text-decoration: none;
}
