



.weather {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: rgb(239, 247, 247) 1px solid;
  border-radius: 5%;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}
