.weather {
  background-image: linear-gradient(#eeeeee 0%, #ebebad 100%);
  border: rgb(239, 247, 247) 1px solid;
  border-radius: 5%;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: default;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -15px;
}
