body {
  font-family: "Varela Round", sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -15px;
}
