.weatherApp {
  border: gray;
  font-family: "Google Sans", Roboto-medium, arial, sans-serif-medium,
    sans-serif;
  list-style: none;
}
.weatherApp h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-size: 35px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  margin: 20px 0 15px 0;
}
.weatherApp li {
  color: rgb(112, 117, 122);
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  list-style: none;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weatherApp ul {
  margin: 0;
  padding: 0;
}
.weatherApp button {
  display: inline-block;
}
