.WeatherForecast {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast-day {
  margin: 15px 0 -8px 0;
}
